<template>
    <div class="<%= data.lowerName %>">
        <h1>{{ msg }}</h1>
    </div>
</template>

<script>
    import { reactive, ref, getCurrentInstance } from "vue";
    import {
        computed,
        watch,
        watchEffect,
        onMounted
    } from "@vue/runtime-core";
    export default {
        name: "<%= data.lowerName %>",
        props: {
            msg: {
                type: String,
                require: true,
                default: '<%= data.lowerName %>'
            }
        },
        setup() {
            const count = ref(0);
            const data = reactive({
                time: 0
            })
            const internalInstance = getCurrentInstance();
            const ctx = internalInstance.appContext.config.globalProperties;

            onMounted(() => {
                console.log(ctx)
             });

            data.time = computed(() => {
                return count.value + 1;
            });

            watch(() => count.value, (val, oldVal) => {
                console.log(val, oldVal)
            });

            watchEffect();

            return {
                data
            };
        }
    };
</script>