<template>
    <div class="<%= data.lowerName %>">
        <h1>{{msg}}</h1>
    </div>
</template>
<script>
export default {
    name: '<%= data.lowerName %>',
    props:{
        msg:{
            type:String,
            require:true,
            default:''
        }
    },
    components:{},
    mixins:[],
    data(){
        return{
            message:"<%= data.name %>"
        }
    },
    created(){

    },
    mounted(){

    },
    watch(){

    },
    computed:{

    },
    methods(){

    }
}
</script>
<style scoped>
.<%= data.lowerName%>{

}
</style>